In [1]:
pwd

'C:\\Users\\SMART-25\\PythonStudy\\Session1'

### 1. Numpy 예제

In [1]:
#numpy 라이브러리 불러오기
import numpy as np

In [2]:
np.loadtxt('../dataset/test.txt',delimiter=',')

array([[ 1.,  2.,  3.,  4.,  5.],
       [ 6.,  7.,  8.,  9., 10.]])

### 2.Data Frame 예제

In [6]:
import pandas_datareader.data as web
import fix_yahoo_finance as yf
yf.pdr_override()
from datetime import date, timedelta
import matplotlib.pyplot as plt
import datetime

start = datetime.datetime(2017,4,1)
end=date.today()

SEC=web.get_data_yahoo("005930.KS",start,end)
SEC.head(10)

[*********************100%***********************]  1 of 1 downloaded

               Open     High      Low    Close     Adj Close    Volume
Date
2017-04-03  41400.0  41720.0  41300.0  41440.0  10779.122070   9579400
2017-04-04  41600.0  42180.0  41520.0  42080.0  10945.595703  12255500
2017-04-05  41900.0  42240.0  41700.0  42140.0  10961.202148  10699700
2017-04-06  42000.0  42080.0  41600.0  41840.0  10883.167969   9683400
2017-04-07  41800.0  41820.0  41160.0  41600.0  10820.740234  10021000
2017-04-10  41940.0  41940.0  41500.0  41940.0  10909.179688   7141350
2017-04-11  41940.0  41940.0  41580.0  41600.0  10820.740234   7172900
2017-04-12  41860.0  41940.0  41700.0  41900.0  10898.774414   8274900
2017-04-13  41660.0  42460.0  41660.0  42420.0  11034.034180   9040800
2017-04-14  42160.0  42260.0  41760.0  42020.0  10929.989258   5462850

### 3.주식데이터 예제

In [7]:
import urllib.parse
import pandas as pd

MARKET_CODE_DICT = {
    'kospi': 'stockMkt',
    'kosdaq': 'kosdaqMkt',
    'konex': 'konexMkt'
}

DOWNLOAD_URL = 'kind.krx.co.kr/corpgeneral/corpList.do'

def download_stock_codes(market=None, delisted=False):
    params = {'method': 'download'}

    if market.lower() in MARKET_CODE_DICT:
        params['marketType'] = MARKET_CODE_DICT[market]

    if not delisted:
        params['searchType'] = 13

    params_string = urllib.parse.urlencode(params)
    request_url = urllib.parse.urlunsplit(['http', DOWNLOAD_URL, '', params_string, ''])

    df = pd.read_html(request_url, header=0)[0]
    df.종목코드 = df.종목코드.map('{:06d}'.format)

    return df


kosdaq_stocks = download_stock_codes('kospi')
kosdaq_stocks.head()
kosdaq_stocks.to_csv("d:/kospi.csv", index=False, encoding="utf-8-sig")
#encoding="utf-8-sig"
type(kosdaq_stocks)
kosdaq_stocks.head(5)

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,BYC,001460,봉제의복 제조업,"메리야스,란제리 제조,도매/건축공사/부동산 임대,분양,공급",1975-06-02,12월,유 중 화,http://www.byc.co.kr,서울특별시
1,CJ CGV,079160,"영화, 비디오물, 방송프로그램 제작 및 배급업","영화상영,영화관 운영",2004-12-24,12월,서 정,http://www.cgv.co.kr,서울특별시
2,DB손해보험,005830,보험업,"자동차보험,화재보험,해상보험,특종보험,장기보험",1973-06-28,12월,김정남,http://www.idbins.com,서울특별시
3,DGB금융지주,139130,기타 금융업,지주회사,2011-06-07,12월,김경룡,http://www.dgbfg.co.kr,대구광역시
4,DSR제강,069730,1차 철강 제조업,"와이어로프,각종 경강선,철선제품,PC강선,아연도 강연선 제조",2003-01-28,12월,홍하종,http://www.dsrcorp.com,전라남도